<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/transaction">Buy</a></li>
            <li class="main-header__item"><a href="/logout">Logout</a></li>
            <li class="main-header__item"><a href="/portfolio">Portfolio</a></li>
        </ul>
    </nav>
</header>