<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/login">Login</a></li>
                <li class="main-header__item"><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Manage your portfolio online!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sapiente necessitatibus quam, adipisci architecto quidem minus blanditiis asperiores ea veniam quos voluptatem! Cupiditate, suscipit tempora. Nemo velit voluptatum distinctio placeat.</p>
    </main>
</body>
</html>