<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
    <div class="container">
        <h1>Create your online portfolio.</h1>
        <h2>Let your money work for you.</h2>
    </div>
    </main>
<%- include('includes/end.ejs') %>