.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}


.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    padding: 0.25rem;
}

.form-control input {
    border: 1px solid skyblue;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color:  #2669c0;
}

button {
    font: inherit;
    border: 1px solid skyblue;
    background: white;
    color: #093c7e;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: rgb(36, 152, 219);
    color: white;
}