body {
    background: url('https://cdn.pixabay.com/photo/2017/07/30/10/00/economy-2553884_960_720.jpg') no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #2285ad;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: white;
    border: none;

}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active
{
    color: #29e1ff;
}
.main-header__item button:hover,
.main-header__item button:active{
    color: #179fd8;
} 

.user-message {
    margin: auto;
    width: 30rem;
    border: 1px solid #86e2f0;
    padding: 1rem;
    border-radius: 3px;
    background: #89d0ec;
    text-align: center;
}
.user-message--error{
    border-color: rgb(241, 37, 37);
    background: rgb(240, 135, 135);
}
